@import "tailwindcss";

@theme {
  --color-bg: #070707;
  --color-surface: #0E0E0E;
  --color-line: #1A1A1A;
  --color-line2: #282828;
  --color-text: #EDEAE0;
  --color-muted: #454240;
  --color-muted2: #726E6A;
  --color-purple: #7B2FFF;
  --color-red: #FF2B2B;
  --color-green: #1AE87A;

  --font-mono: 'DM Mono', monospace;
  --font-display: 'Unbounded', sans-serif;

  --ease-spring: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-out: cubic-bezier(0.16, 1, 0.3, 1);
}

@font-face {                                                                                                              
    font-family: "DM Mono";                                                                                                 
    src: url("/fonts/DMMono-Regular.woff2") format("woff2");                                                                
    font-weight: 400;                                                                                                       
    font-display: swap;                                     
  }                                                                                                                         
                                                            
  @font-face {                                                                                                              
    font-family: "DM Mono";
    src: url("/fonts/DMMono-Medium.woff2") format("woff2");                                                                 
    font-weight: 500;                                                                                                       
    font-display: swap;                                                                                                     
  }                                                                                                                         
                                                            
  @font-face {                                                                                                              
    font-family: "Unbounded";                               
    src: url("/fonts/Unbounded-Bold.woff2") format("woff2");                                                                
    font-weight: 700;                                                                                                       
    font-display: swap;                                                                                                     
  }

/* Global styles */
/* This is the grid background that will be used across the entire site */
.bg-grid {
    position: fixed;
    inset: 0;
    background-image:
      linear-gradient(rgba(255,255,255,0.025) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,0.025) 1px, transparent 1px);
    background-size: 56px 56px;
    pointer-events: none;
    z-index: 0;
  }
body{
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-mono);
    min-height: 100vh;
    overflow-x: hidden;
}  

